version: '3.8'

services:
  backend:
    build: 
      context: ./Backend
    ports:
      - "8000:8000"
    volumes:
      - ./Backend/sql_app.db:/app/sql_app.db
    env_file:
      - ./Backend/.env

  frontend:
    build:
      context: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend
